<form (submit) ="onAddPost(postForm)" #postForm="ngForm">
    <mat-card>
        <mat-form-field>
            <input 
            type="text" 
            matInput 
            name = "title"
            ngModel
            required
            #title = "ngModel">
            <mat-error *ngIf="title.invalid">Por favor, ingresá un título</mat-error>
        </mat-form-field>
        <mat-form-field>
        <textarea 
        matInput 
        rows="6" 
        name = "content"
        ngModel
        required
        #content = "ngModel">
        ></textarea>
         <mat-error *ngIf="content.invalid">Por favor, ingresá un contenido</mat-error>
        </mat-form-field>
        <button  
        mat-raised-button 
        type = "submit">Guardar este post</button>
    </mat-card>
</form>




